*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.inner-box{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.432);
    padding: 2.5rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
  font-size: 2rem;
}

.name{
    font-size: 20px;
}

.email{
    font-size: 20px;
    margin-top: 30px;
}

.address{
    margin-top: 30px;
    font-size: 20px;
}

.input-box {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;   
    border: none;
    border-bottom: 1px solid black;
}

.upload{
    margin-top: 30px;
    font-size: 30px;
}

.file{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.container1{ 
    width: 45%;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 50px;
    width: 50px;
}

.button{ 
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
    background-color: transparent;
    border-radius: 40px;
    background-color: rgb(92, 165, 248);
    color: white;
    border: none;
    width: 100%;


}

.error{
    color: red;
    margin-top: 5px;
    font-size: 13px;
}

.display{
    display: none;
}

.file-up{
    font-size:20px;
    margin-top: 15px;
}

.lower-box{
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button:hover{
    cursor: pointer;
}

.container1{
    width: 90%;
}

@media only screen and (width<=970px) {
    .container{
        width: 90%;
    }
}

@media only screen and (width<=650px) {
    .heading{
        font-size: 1.2rem;
    }
    .container{
        width: 100%;
    }

    .upload{
        font-size: 16px;
    }

    .name{
        font-size: 16px;
    }

    .email{
        font-size: 16px;
    }

    .address{
        font-size: 16px;
    }

    .file-up{
        font-size: 16px;
    }

    ::placeholder{
        font-size: 0.9rem;
    }

    .input-box{
        height: 30px;
    }

    .button{
        margin-top: 30px;
        font-size: 1.2rem;
        padding: 1rem;
    }
}

@media only screen and (width<=440px) {
    .container{
        margin-top: 45px;
    }

    .upload{
        font-size: 15px;
    }

    .name{
        font-size: 15px;
    }

    .email{
        font-size: 15px;
    }

    .address{
        font-size: 15px;
    }

    .file-up{
        font-size: 15px;
    }

    ::placeholder{
        font-size: 0.8rem;
    }

    .button{
        margin-top: 40px;
        font-size: 1rem;
        padding: 0.8rem;
    }
}
