*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.outer-box{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-box{
    width: 90%;
}

.heading-box{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.left-head{
    display: flex;
    width: 60%;
    align-items: center;
}

.flag{
    width: 130px;
    height: 50px;
}

.head-titles{
    padding: 1.5rem;
    width: 40%;
}

.right-width{
    width: 20%;
}

.hr{
    margin-top: 20px;
    height: 5px;
    background-color: rgb(42, 50, 66);
}

.outer-mid{
    width: 100%;
    display: flex;
    justify-content: center;
}

.middle-box{
    margin-top: 50px;
    width: 80%;
}

.mid-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.hr-2{
    margin-top: 10px;
    border: none;
    background-color: rgb(42, 50, 66);
    height: 2px;
    width: 80%;
}

.mid-mid{
    margin-top: 50px;
    font-size: 1.5rem;
}

.lower-mid{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button{
    padding: 1rem;
    font-size: 1.5rem;
    width: 30%;
    border-radius: 70px;
    border: 1px solid black;
    background-color: rgb(42, 50, 66);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    cursor: pointer;
}

.end-box{
    margin-top: 190px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.img-2{
    height: 50px;
    width: 150px;
}

@media only screen and (width<=900px) {
    .head-titles{
        font-size: 1.2rem;
    }

    .inner-box{
        width: 95%;
    }

    .inner-mid{
        width: 70%;
        font-size: 1rem;
    }

    .middle-box{
        width: 95%;
    }

    .mid-mid{
        font-size: 1.2rem;
    }

    .button{
        font-size: 1.2rem;
        padding: 0.8rem;
    }
}

@media only screen and (width<=674px) {
    .head-titles{
        width: 40%;
        font-size: 1rem;
    }

    .flag{
        height: 30px;
    }

    .inner-mid{
        font-size: 0.9rem;
    }

    .mid-mid{
        font-size: 1rem;
    }

    .button{
        font-size: 1.2rem;
        padding: 0.8rem;
    }

    .end-box{
        margin-top: 120px;
    }

    .img-2{
        width: 100px;
        height: 30px;
    }
}


@media only screen and (width<=614px) {
    .head-titles{
        width: 50%;
        font-size: 1rem;
    }

    .hr{
        margin-top: -10px;
    }

    .inner-mid{
        width: 100%;
    }

    .button{
        font-size: 1.2rem;
        padding: 0.8rem;
    }

    .end-box{
        margin-top: 100px;
    }

    .img-2{
        width: 100px;
        height: 30px;
    }
}



@media only screen and (width<=498px) {
    .head-titles{
        font-size: 0.8rem;
    }

    .FR{
        font-size: 1.5rem;
    }

    .inner-mid{
        font-size: 0.9rem;
        width: 100%;
    }

    .button{
        font-size: 1rem;
    }

    .end-box{
        margin-top: 100px;
    }

    .img-2{
        width: 100px;
        height: 30px;
    }
}




@media only screen and (width<=440px) {
    .head-titles{
        padding: 0.9rem;
        width: 60%;
        font-size: 0.9rem;
    }

    .flag{
        height: 20px;
    }

    .FR{
        font-size: 1.4rem;
    }

    .inner-mid{
        font-size: 0.8rem;
        width: 100%;
    }

    .mid-mid{
        font-size: 1rem;
    }

    .button{
        padding: 1rem;
        font-size: 1rem;
    }
}



@media only screen and (width<=376px) {
    .inner-box{
        width: 100%;
    }

    .heading-box{
        padding: 0.7rem;
    }

    .left-head{
        width: 75%;
    }

    .head-titles{
        font-size: 0.8rem;
    }

    .FR{
        font-size: 1rem;
    }

    .mid-mid{
        padding: 0rem 0.5rem;
        margin-top: 20px;
    }

    .inner-mid{
        font-size: 0.7rem;
        width: 100%;
    }


    .end-box{
        margin-top: 90px;
    }

    .img-2{
        margin-right: 10px;
        height: 20px;
        width: 60px;
    }
}
