*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-box{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.terms{
    font-size: 4rem;
    margin-bottom: 30px;
}

.p-tag{
    font-size: 1.2rem;
}

.form-check-input{
    width: 50px;
    height: 30px;
    margin-top: 30px;
}

.form-check-label{
    font-size: 1.5rem;
}

.button{

    color: white;
    border: none;
    background-color: rgb(95, 95, 253);
    margin-top: 30px;
    border-radius: 15px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

@media only screen and (width<=768px) {
    .text{
        width: 90%;
    }

    .terms{
        font-size: 2.3rem;
        margin-top:20%;
    }

    .p-tag{
        font-size: 1.1rem;
    }

    .form-check-input{
        height: 20px;
    }

    .form-check-label{
        font-size: 1.2rem;
    }

    .button{
        font-size: 1.2rem;
    }
}


@media only screen and (width<=550px) {
    .terms{
        font-size: 1.3rem;
        margin-top:20%;
    }

    .p-tag{
        font-size: 1rem;
    }

    .form-check-input{
        height: 15px;
    }

    .form-check-label{
        font-size: 1rem;
    }

    .button{
        padding: 0.7rem 1.1rem;
        font-size: 1rem;
    }
}

@media only screen and (width<=430px) {
    .terms{
        font-size: 1.2rem;
        margin-top:10%;
    }

    .p-tag{
        font-size: 0.9rem;
    }

    .form-check-input{
        height: 13px;
    }

    .form-check-label{
        font-size: 0.8rem;
    }

    .button{
        padding: 0.7    rem 1.1rem;
        font-size: 1rem;
    }
}

@media only screen and (width<=340px) {
    .terms{
        font-size: 1.1rem;
        margin-top:22%;
    }

    .p-tag{
        font-size: 0.7rem;
    }

    .form-check-input{
        height: 12px;
    }

    .form-check-label{
        font-size: 0.8rem;
        
        
    }

    .button{
        padding: 0.5rem 0.9rem;
        font-size: 0.9rem;
    }
}
