/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.outer-box{
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
}

.meta{
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: -10px;
    margin-bottom: 20px;
}

.multi-coin{
    font-size: 2rem;
}

.upper-box{
    text-align: center;
}

.middle-box{
    width: 95%;
    text-align: center;
}

.typically{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.568);
}

.form-box{
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
}

.error-box-1{
    color: red;
}

.error-box-2{
    color: red;
}

.input-box{
    border: 1px solid rgba(0, 0, 0, 0.652);
    width: 100%;
    border-radius: 5px;
    font-size: larger;
    padding: 0.5rem 0.8rem;
}

.text-box{
    border: 1px solid rgba(0, 0, 0, 0.652);
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    font-size: larger;
}

::placeholder {
  color: black;
  opacity: 0.3;
}

.written-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wallet-name{
    color: rgba(0, 0, 0, 0.652);
    text-align: left;
    margin-bottom: -5px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.button{
    height: 20%;
    width: 100%;
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem;
    background-color: transparent;
    border-radius: 40px;
    border: none;
}

.button:hover{
    cursor: pointer;
}

.button:active{
    background-color: rgb(126, 184, 250);
    color: rgba(255, 254, 254, 0.832);
}

.display{
    display: none;
}

.confirm-outer{
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3.5rem;
    text-align: center;
}



.lower-box{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
}

.show{
    cursor: pointer;
    display: inline;
}

.a-tag{
    margin-top: 20px;
    color: blue;
    text-decoration: none;
}

.button-box{
    text-align: end;
    width: 95%;
    font-size: 1.2rem;

    position: relative;
    top: -50px;
}

.paste-btn:hover{
    cursor: pointer;
}

@media only screen and (width<=1024px) {
   .confirm-outer{
    font-size: 2.5rem;
   }
}

@media only screen and (width<=768px) {
    .middle-box{
        width: 100%;
    }
    
    .confirm-outer{
     font-size: 2rem;
    }

    .lower-box{
        margin-top:130px;
    }
}

@media only screen and (width<=705px) {
    .middle-box{
        width: 100%;
    }

    .lower-box{
        margin-top:120px;
    }
}

@media only screen and (width<=600px) {
    
    .lower-box{
        margin-top:120px;
    }
    
    .confirm-outer{
        font-size: 0.8rem;
    }

    .upper-box{
        margin-top: 15px;
    }

    .meta{
        letter-spacing: 5px;
        font-size: 1.1rem;
    }

    .multi-coin{
        font-size: 1.5rem;
    }

    .middle-box{
        width: 100%;
    }

    .show{
        text-align: end;
    }

    .wallet-name{
        font-size: 1rem;
    }

    .button{
        font-size: 1.1rem;
    }

    .typically{
        font-size: 1rem;
    }

    .t-and-c{
        font-size: 0.7rem;
    }

    .button-box{
        font-size: 1rem;
    }
}

@media only screen and (width<=375px) {
    .upper-box{
        margin-top: 15px;
    }

    .meta{
        letter-spacing: 4px;
        font-size: 1.1rem;
    }

    .multi-coin{
        font-size: 1.5rem;
    }

    .button{
        font-size: 1rem;
        padding: 1.2rem;
    }

    .lower-box{
        margin-top:90px;
    }

    .input-box{
        font-size: 1rem;
    }

    .button-box{
        font-size: 0.9rem;
    }
}

@media only screen and (width<=358px) {
    .lower-box{
        margin-top:60px;
    }
    
    .multi-coin{ 
        font-size:1.5rem;
    }
    
    .upper-box{
        margin-top: 15px;
    }

    .wallet-name{
        font-size: 11px;
    }

    .button{
        font-size: 0.9rem;
        padding: 1rem;
    }

    .typically{
        font-size: 0.8rem;
    }
}


