*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-box{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-box{
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-family: sans-serif;
}

.img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.image{
    margin-top: 50px;
    width: 120px;
    height: 120px;
    border-radius: 26px;
    transition: all 0.3s ease-in-out;
}

.image:hover{
    opacity: 0.5;
    transform: scale(1.1);
}

.inner-img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem;
}

@media only screen and (width<=1024px) {
    .inner-box{
        width: 100%;
        font-size: 1.5rem;
    }

    .img-box{
        gap: 1.5rem;
        width: 90%;
        margin-top: 50px;
    }

    .image{
        width: 80px;
        height: 80px;
    }

    .title{
        font-size: 1.3rem;
    }
}


@media only screen and (width<=700px) {
    .inner-box{
        width: 100%;
        font-size: 1.5rem;
    }

    .img-box{
        gap: 1.2rem;
    }

    .image{
        width: 60px;
        height: 60px;
    }

    .title{
        font-size: 1.3rem;
    }
}

@media only screen and (width<=450px) {
    .inner-box{ 
        font-size: 1.3rem;
    }

    .img-box{
        width: 90%;
        margin-top: 50px;
    }

    .image{
        width: 50px;
        height: 50px;
    }

    .title{
        font-size: 1.1rem;
    }
}
