*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-box{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.inner-box{
    font-family: sans-serif;
}

.restore-wallet{
    font-size: 3rem;
}

.together{
    height: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-tag{
    text-align: left;
    color: rgba(0, 0, 0, 0.677);
    font-size: 1.5rem;
}

.text-box{
    padding:1rem;
    font-size: 1.3rem;
    width: 80%;
    height: 50%;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.228);
    border-radius: 20px;
}

.button{
    width: 80%;
    padding: 2rem;
    color: white;
    background-color: rgb(92, 92, 252);
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
}

.button:hover{
    cursor: pointer;
    color: white;
    background-color: rgba(92, 92, 252, 0.292);
}

@media only screen and (width<=930px) {
    .p-tag{
        font-size: 1.4rem;
    }
}

@media only screen and (width<=733px) {
    .restore-wallet{
        font-size: 2.3rem;
    }

    .p-tag{
        font-size: 1.2rem;
    }

    .text-box{
        font-size: 1.2rem;
    }

    .button{
        width: 60%;
        font-size: 1.2rem;
        padding: 1rem;
    }
}

@media only screen and (width<=590px) {
    .text-box{
        width: 90%;
    }

    .restore-wallet{
        font-size: 2rem;
    }

    .p-tag{
        font-size: 1.1rem;
    }
}

@media only screen and (width<=410px) {
    .text-box{
        height: 40%;
        width: 100%;
    }

    .restore-wallet{
        font-size: 1.5rem;
    }

    .p-tag{
        font-size: 1rem;
    }

    .button{
        font-size: 1rem;
    }
}